body{
    background-image: url(assets/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
    margin: 0;
    display: flex;
    justify-content: center;
    min-height: 80vh;
    align-items: center;
}
.clock-container{
    font-size: larger;
}
.clock{
    font-size: 6rem;
    color: white;
    font-weight: bold;
    font-family: monospace;
    text-shadow: 3px 5px 4px rgba(0, 0, 0, 0.751);
    text-align: center;
}
